* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d62828;
}

body {
    background: #003049;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    background: #fcbf49;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 12vh;
    border-style: solid;
    border-color: #002234;
    border-width: 0px 0px 2px 0px;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 10%;
}

.btns-class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 33vh;
    background-color: #eae2b7;
    border-radius: 2em;
    margin-right: 10%;
    margin-bottom: 5%;
}

#header-title-left {
    float: left;
    margin-top: 3vh;
    margin-left: 3vw;
    color: #eae2b7;
}

.header-title a {
    font-size: 5vh;
}

#header-title-right {
    margin-top: 3vh;
    margin-right: 3vw;
    float: right;
    color: #eae2b7;
}

h2 {
    font-size: 240%;
}

a {
    font-size: 2.5vh;
}

a,
a:visited {
    text-decoration: none;
}

h1 a,
hi a:visited {
    color: #003049;
}

.border:hover a {
    font-weight: bold;
    /* transition: 0.2s; */
}

.border-first:hover a {
    font-weight: bold;
}


/* h1 a:hover {
    font-size: 6vh;
}

#header-title-left:hover {
    margin-top: 2.5vh;
    margin-left: 2.5vw;
}

#header-title-right:hover {
    margin-top: 2.5vh;
    margin-right: 2.5vw;
} */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.btns-class:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content a {
    /* margin-top: 1vh;
    margin-bottom: 1vh; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* padding-left: ; */
}

.btns-class:hover .btn-label {
    display: none;
}

.btns-class:hover {
    box-shadow: 6px 6px #002234;
    /* transform: translateX(-0.2vw) translateY(-0.2vh); */
    transition: 0.2s;
    border-style: outset;
    border-color: #003049;
    border-width: 5px;
}

.border-first a {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 13vw;
}

.border a {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 13vw;
    border-style: dashed;
    border-left: none;
    border-right: none;
    border-bottom: none;
}